#head{
    color:gray;}
body{
    color:gray;}
div{
    background-color:rgb(142, 142, 166));}
#image{
    background-color:black;
    align: center;
}
h2{
   color:burlywood;}
h1{
    color:burlywood;
}
#footer{text-align: center;
        color: black;
    }
img.align-center{
    display: block;
    margin: 0px auto; 
    }
figcaption{
    text-align: center;
}